link(rel="stylesheet", href="/stylesheets/book-table.css")
block content
  h1 Book a Table
  form(action="/book-table-submit", method="POST")
    label(for="name") Name
    input(type="text", name="name", required)

    label(for="email") Email
    input(type="email", name="email", required)

    label(for="date") Date
    input(type="date", name="date", required)

    label(for="time") Time
    input(type="time", name="time", required)

    label(for="guests") Guests
    input(type="number", name="guests", required)

    button(type="submit") Book Table
