extends layout

block content
  .contact-container
    .contact-header
      h2 Contact Us
      p Feel free to reach out to us anytime!
    
    .contact-info
      .info-item
        h3 Address
        p 123 Food Street, Gourmet City
      .info-item
        h3 Phone
        p (555) 123-45954
      .info-item
        h3 Email
        p ar@restaurant.com