extends layout

block content
  .hero-section
    .hero-text
      h1 Only tasty wonders delicious food.
      p Enjoy pleasant time with your loved ones in beautiful scenic surroundings with delicious food.
      .hero-btns
        a.btn.book-btn(href='/book-table') Book a Table
        a.btn.btn-secondary(href='/menu') Order Online

       
  