extends layout

block content
  .hero-section
    .hero-text
      h1 Only tasty wonders delicious food.
      p Enjoy pleasant time with your loved ones in beautiful scenic surroundings with delicious food.
      .hero-btns
        a.btn.book-btn(href='#') Book a Table
        a.btn.btn-secondary(href='#') Order Online
    .hero-images
      .home-right
        img.food-img.food-1(src='/Users/anand/Documents/t_project/teamproject/public/images/grill.jpg', alt='Grilled Meat', loading='lazy')
        img.food-img.food-2(src='/Users/anand/Documents/t_project/teamproject/public/images/salmon.jpg', alt='Plated Dish', loading='lazy')
        img.food-img.food-3(src='/Users/anand/Documents/t_project/teamproject/public/images/grill.jpg', alt='Salmon Dish', loading='lazy')
