extends layout

block content
  .container
    .row.align-items-center
      .col-md-6
        h1 Enjoy Your Special Delicious Meal
        p We make it easy for you to give your guests the same experience online that they expect within your doors.
        a.btn.btn-warning.mt-4(href='#') Order Now
        a.btn.btn-outline-secondary.mt-4.ml-2(href='#') Watch Video
      .col-md-6
        img.img-fluid(src='/images/food-plate.jpg' alt='Delicious Meal')
    .row.text-center.mt-5
      .col-md-4
        i.fas.fa-star
        h5 (4.8) 15K Reviews
      .col-md-4
        i.fas.fa-utensils
        h5 400+ Restaurants
      .col-md-4
        i.fas.fa-leaf
        h5 7000+ Food Items
